module openvpn 1.1;

require {
	class capability { ipc_lock sys_chroot }; 
	class dir { search write add_name };
	class file { create write };
	class tcp_socket name_bind;
	type openvpn_t; 
	type openvpn_etc_t; 
	type openvpn_var_run_t; 
	type openvpn_var_log_t; 
	type port_t; 
	role system_r; 
};

allow openvpn_t self:capability { ipc_lock sys_chroot };
allow openvpn_t openvpn_var_run_t:dir { search write add_name };
allow openvpn_t openvpn_var_run_t:file write;
allow openvpn_t openvpn_var_log_t:dir { search write add_name };
allow openvpn_t openvpn_var_log_t:file write;
allow openvpn_t openvpn_etc_t:dir { search write add_name };
allow openvpn_t openvpn_etc_t:file { create write };
allow openvpn_t port_t:tcp_socket name_bind;
